@charset "UTF-8";
/* Using https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=latin +/

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/font/open-sans/open-sans-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("./assets/font/open-sans/open-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("./assets/font/open-sans/open-sans-v18-latin-regular.woff2") format("woff2"), url("./assets/font/open-sans/open-sans-v18-latin-regular.woff") format("woff"), url("./assets/font/open-sans/open-sans-v18-latin-regular.ttf") format("truetype"), url("./assets/font/open-sans/open-sans-v18-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/font/open-sans/open-sans-v18-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("./assets/font/open-sans/open-sans-v18-latin-800.eot?#iefix") format("embedded-opentype"), url("./assets/font/open-sans/open-sans-v18-latin-800.woff2") format("woff2"), url("./assets/open-sans/font/open-sans-v18-latin-800.woff") format("woff"), url("./assets/font/open-sans/open-sans-v18-latin-800.ttf") format("truetype"), url("./assets/font/open-sans/open-sans-v18-latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "bolt";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/font/thunderbolt/bolt.eot");
  src: url("./assets/font/thunderbolt/bolt.eot#iefix") format("embedded-opentype"), url("./assets/font/thunderbolt/bolt.woff2") format("woff2"), url("./assets/font/thunderbolt/bolt.woff") format("woff"), url("./assets/font/thunderbolt/bolt.ttf") format("truetype"), url("./assets/font/thunderbolt/bolt.svg#bolt") format("svg");
}
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "bolt";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 0.4em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flash:before {
  content: "";
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #F1F1F1;
  font-family: "Open Sans", sans-serif;
  background: #F1F1F1;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

#nav {
  background: linear-gradient(180deg, black, transparent);
  margin: 0;
  padding: 3vmax 0 0 3vmax;
  width: calc(100% - 3vmax);
  height: 15vh;
  list-style-type: none;
  overflow: hidden;
  position: absolute;
  font-size: 2.2vh;
}
#nav #icon {
  height: 7vmax;
  max-height: 100%;
  border-radius: 0.2vmax;
}
#nav > li {
  float: left;
}
#nav > li > a {
  display: block;
  color: #F1F1F1;
  text-align: center;
  text-decoration: none;
  padding: 1.5vmax 0 0 2.5vw;
}
#nav > li > a:hover:not(.primary) {
  color: #bebebe;
}
#nav > li > a.primary:hover {
  color: #6e5ae7;
}
#nav > li > .primary {
  color: #7663E8;
}

#landing {
  background-image: url("./assets/img/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 90vh;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 95%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 95%, 100% 0);
}

#heading {
  position: absolute;
  margin: 38vh 12vw;
  padding-left: 2vw;
  border-left: 1px solid #7663E8;
  font-size: 2.3vmax;
}
#heading > h1 {
  text-shadow: 3px 4px 20px rgba(0, 0, 0, 0.5);
}

#devices {
  display: grid;
  height: 70vh;
  padding: 10vw 10vw 0 10vw;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}
#devices > .card {
  display: grid;
  grid-template-columns: 8vmax auto;
  grid-template-rows: auto auto;
  justify-self: start;
  column-gap: 2vw;
  row-gap: 4vw;
  color: #333333;
}
#devices > .card > img {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: end;
  width: 80%;
}
#devices > .card > img.square {
  height: 7vmax;
}
#devices > .card > div {
  grid-column-start: 2;
  grid-column-end: 3;
}
#devices > .card > div > h1 {
  display: table;
  font-size: 1.2rem;
  margin-top: -0.8vh;
}
#devices > .card > div > p {
  display: table;
  font-size: 1rem;
  cursor: pointer;
}

#tooltip {
  display: none;
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0.7rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 10px 47px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 10px 47px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 10px 47px 0px rgba(0, 0, 0, 0.28);
}

@media (prefers-color-scheme: dark) {
  #devices > .card {
    color: #F1F1F1;
  }

  #macbook-air {
    content: url("assets/img/dark/macbook-air.svg");
  }

  #macbook-pro {
    content: url("assets/img/dark/macbook-pro.svg");
  }

  #imac {
    content: url("assets/img/dark/imac.svg");
  }

  #imac-pro {
    content: url("assets/img/dark/imac-pro.svg");
  }

  #mac-mini {
    content: url("assets/img/dark/mac-mini.svg");
  }

  #mac-pro {
    content: url("assets/img/dark/mac-pro.svg");
  }

  html,
body {
    background: #333333;
  }

  @-moz-document url-prefix() {
    #devices > .card > img {
      filter: brightness(0) invert(1);
    }
  }
}
@media only screen and (max-width: 410px) {
  #devices {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  #devices > .card {
    width: 90%;
    column-gap: 4vw;
  }
}
@media (prefers-reduced-motion: reduce) {
  #landing {
    background-attachment: unset;
  }
}

/*# sourceMappingURL=style.css.map */
