#devices {
    display: grid;

    height: 70vh;

    margin-top: 15vh;
    margin-bottom: 15vh;

    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    row-gap: 6vh;

    > .card {
        display: grid;

        width: 100%;

        grid-template-columns: 38% 40%;

        column-gap: 2vw;

        > img {
            grid-column-start: 1;
            grid-column-end: 2;

            justify-self: end;

            width: 8vmax;

            &.square {
                height: 10vmax;
            }
        }

        > article {
            grid-column-start: 2;
            grid-column-end: 3;

            > h1 {
                font-size: 150%;

                margin-top: -.8vh;
            }

            > p {
                font-size: 100%;
            }
        }

        color: lighten(black, $hover);

        &.macbooks {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }
}
