#devices {
    display: grid;

    height: 70vh;

    padding: 10vw 10vw 0 10vw;

    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    > .card {
        display: grid;

        grid-template-columns: 8vmax auto;
        grid-template-rows: auto auto;

        justify-self: start;

        column-gap: 2vw;
        row-gap: 4vw;

        > img {
            grid-column-start: 1;
            grid-column-end: 2;

            justify-self: end;

            width: 80%;

            &.square {
                height: 7vmax;
            }
        }

        > div {
            grid-column-start: 2;
            grid-column-end: 3;

            > h1 {
                display: table;

                font-size: 150%;

                margin-top: -0.8vh;
            }

            > p {
                display: table;

                font-size: 100%;

                cursor: pointer;
            }
        }

        color: lighten(black, $hover);
    }
}

#tooltip {
    display: none;
    position: absolute;

    background-color: inherit;

    top: 0;
    left: 0;
    z-index: 2;

    padding: 0.7rem;

    border-radius: 0.5rem;

    -webkit-box-shadow: 0px 10px 47px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 10px 47px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 10px 47px 0px rgba(0, 0, 0, 0.28);
}