#features {
    background-color: $white;

    padding-top: 3vh;
    padding-bottom: 2vh;

    height: 70vh;

    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 5% 30% 30% 30% 5%;

    > footer {
        width: calc(100% - 2vw);
        padding: 1vw;

        color: $primary;

        background: darken($white, $hover / 3);

        position: absolute;

        bottom: -72vh;
    }
}

.card {
    width: 80%;

    color: darken($white, $hover * 2);

    display: grid;
    align-self: center;

    > img {
        height: 10vw;
        align-self: center;
        justify-self: center;
    }

    &.left {
        grid-template-columns: 40% 60%;
        justify-self: end;

        > img {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        > p {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    &.right {
        grid-template-columns: 60% 40%;
        justify-self: start;

        > p {
            grid-column-start: 1;
            grid-column-end: 2;
            text-align: right;
        }

        > img {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }
}

#downloads {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#documentation {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#opensource {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
