@media (prefers-color-scheme: dark) {
    #devices {
        > .card {
            color: $white;
        }

        img {
            -webkit-filter: invert(1);
            filter: invert(1);
        }
    }

    html,
    body {
        background: lighten(black, $hover);
    }
}
