/* Using https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=latin +/

/* open-sans-regular - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/font/open-sans/open-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("./assets/font/open-sans/open-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/font/open-sans/open-sans-v18-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./assets/font/open-sans/open-sans-v18-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("./assets/font/open-sans/open-sans-v18-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("./assets/font/open-sans/open-sans-v18-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/font/open-sans/open-sans-v18-latin-800.eot"); /* IE9 Compat Modes */
    src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
        url("./assets/font/open-sans/open-sans-v18-latin-800.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("./assets/font/open-sans/open-sans-v18-latin-800.woff2") format("woff2"),
        /* Super Modern Browsers */ url("./assets/open-sans/font/open-sans-v18-latin-800.woff") format("woff"),
        /* Modern Browsers */ url("./assets/font/open-sans/open-sans-v18-latin-800.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("./assets/font/open-sans/open-sans-v18-latin-800.svg#OpenSans") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "bolt";
    font-weight: normal;
    font-style: normal;
    src: url("./assets/font/thunderbolt/bolt.eot");
    src: url("./assets/font/thunderbolt/bolt.eot#iefix") format("embedded-opentype"),
        url("./assets/font/thunderbolt/bolt.woff2") format("woff2"),
        url("./assets/font/thunderbolt/bolt.woff") format("woff"),
        url("./assets/font/thunderbolt/bolt.ttf") format("truetype"),
        url("./assets/font/thunderbolt/bolt.svg#bolt") format("svg");
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "bolt";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 0.4em;
    margin-right: 0.2em;
    text-align: center;

    font-variant: normal;
    text-transform: none;

    line-height: 1em;
    margin-left: 0.1em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flash:before {
    content: "\e800";
}
