main {
    /* TODO: Add lower resolution version for mobile */

    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100vw;
    height: 100vh;
}