main {
    /* TODO: Add lower resolution version for mobile */

    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100vw;
    height: 100vh;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;

    > li {
        float: left;

        > a {
            display: block;
            color: $white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;

            &:hover:not(.primary) {
                color: darken($white, $hover);
            }

            &.primary:hover {
                color: darken($primary, $hover / 10);
            }
        }

        > .primary {
            color: $primary;
        }
    }
}