main {
    /* TODO: Add lower resolution version for mobile */

    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

    width: 100vw;
    height: 100vh;
}

section {
    position: fixed;

    margin: 40vh 12vw;
    padding-left: 2vw;

    border-left: 1px solid $primary;
    font-size: 2.3vmax;
}

#nav {
    margin: 0;
    padding: 3vmax  0 0 3vmax;

    width: 100vw;
    height: 15vh;

    list-style-type: none;

    overflow: hidden;
    position: fixed;
    font-size: 2.5vh;

    img {
        height: 7vmax;
        border-radius: .2vmax;
    }

    > li {
        float: left;

        > a {
            display: block;
            color: $white;
            text-align: center;
            text-decoration: none;

            padding: 1.5vmax 0 0 2.3vw;

            &:hover:not(.primary) {
                color: darken($white, $hover);
            }

            &.primary:hover {
                color: darken($primary, $hover / 10);
            }
        }

        > .primary {
            color: $primary;
        }
    }
}