@media (prefers-color-scheme: dark) {
    #devices {
        > .card {
            color: $white;
        }
    }

    #macbook-air {
        content: url("assets/img/dark/macbook-air.svg");
    }

    #macbook-pro {
        content: url("assets/img/dark/macbook-pro.svg");
    }

    #imac {
        content: url("assets/img/dark/imac.svg");
    }

    #imac-pro {
        content: url("assets/img/dark/imac-pro.svg");
    }

    #mac-mini {
        content: url("assets/img/dark/mac-mini.svg");
    }

    #mac-pro {
        content: url("assets/img/dark/mac-pro.svg");
    }

    html,
    body {
        background: lighten(black, $hover);
    }
}

@media only screen and (max-width: 410px) {
    #devices {
        width: 100%;

        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

        > .card {
            width: 90%;

            grid-template-columns: 32% 70%;

            column-gap: 4vw;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    #landing {
        background-attachment: unset;
    }
}

@-moz-document url-prefix() {
    #devices > .card > img {
        filter: brightness(0) invert(1);
    }
}
