#nav {
    margin: 0;
    padding: 3vmax 0 0 3vmax;

    width: calc(100% - 3vmax);
    height: 15vh;

    list-style-type: none;

    overflow: hidden;
    position: absolute;
    font-size: 2.2vh;

    #icon {
        height: 7vmax;
        border-radius: .2vmax;
    }

    > li {
        float: left;

        > a {
            display: block;
            color: $white;
            text-align: center;
            text-decoration: none;

            padding: 1.5vmax 0 0 2.5vw;

            &:hover:not(.primary) {
                color: darken($white, $hover);
            }

            &.primary:hover {
                color: darken($primary, $hover / 10);
            }
        }

        > .primary {
            color: $primary;
        }
    }
}